@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-container {
    overflow: visible !important;
}
.swiper-pagination {
    position: absolute !important;
    bottom: -25px !important; 
}